{
  "plugins": [
    ["inline-react-svg", {
        "svgo": {
          "plugins": [
            { "name": "preset-default",
              "params": {
                "overrides": { "cleanupIDs": false }
            }}
          ]
        }
    }]
  ]
}
