@import (reference) "./responsive.import.less";
@import (reference) "./variables.import.less";

#chordsheet {
  box-sizing: border-box;
  .chordsheet-colors;
  color: var(--gray);

  a {
    transition: filter ease-out 1s;
    &:hover {
      // main.less
      border: unset;

      filter: brightness(1.1);
      transition: filter cubic-bezier(0, 2.89, 0.07, 1.01) 1s;
    }
  }

  #chordsheetContent {
    margin-bottom: 10em;
  }

  h2 {
    color: var(--gray);
  }

  h4,
  h3 {
    color: var(--text);
  }

  .hideRefs .ref {
    color: var(--text);
    padding-left: 8px;
    margin-left: -12px;
    border-left: 4px solid var(--accent);
    margin-top: 2em;
    margin-bottom: 2em;
    cursor: pointer;

    strong {
      margin-right: 0.5em;
    }
  }

  .inlineRefs .ref {
    color: var(--gray);

    strong {
      cursor: pointer;
      display: block;
      margin-right: 0;
    }
  }

  .hideRefs h3,
  .inlineRefs h3,
  .inlineRefs .ref {
    font-size: 1em;
    margin: 0;

    height: 3em;
    line-height: 1.1em;
    margin-bottom: -4.5em;

    text-align: right;
    width: 5em;
    margin-left: -6em;

    border: none; // concerns .refs only
    padding-left: 0;

    clear: both; // Clear floated chords diagrams

    .phone({
      margin: 2em 0 0;
      width: auto;
      height: auto;
      line-height: 1em;
      text-align: left;
    });
  }

  // Verse container
  p {
    margin: 1.33em 0;
    max-width: 40em;
    clear: both; // for the floated chord-diagrams
  }

  .inlineRefs {
    .inlineReference {
      h3 {
        display: none;
      }
    }
  }

  .hideRefs {
    .inlineReference {
      display: none;
    }
  }

  code {
    // inline code elements
    display: inline-block;
    font-family:
      "Input Mono",
      Courier New,
      Courier,
      monospace;
    font-size: 0.9em;
    font-weight: 400;
    padding: 0 0.5em;
    border-radius: 0.4em;
    line-height: 1.5em;
    color: black;
    background-color: var(--accent-flat);
  }

  pre code {
    // used for preformatted strumming patterns
    font-size: 1em;
    background-color: transparent;
    color: inherit;
    line-height: inherit;
  }

  .abc-notation {
    .phone({
      margin-right: 0;
    });

    svg {
      .abcjs-note,
      .abcjs-slur,
      .abcjs-rest,
      .abcjs-ledger,
      .abcjs-beam-elem {
        fill: var(--text);
      }

      .abcjs-triplet {
        stroke: var(--text);

        tspan {
          fill: var(--text);
        }
      }

      .abcjs-lyric,
      .abcjs-staff,
      .abcjs-staff-extra {
        fill: var(--gray);
      }

      path.abcjs-ending {
        stroke: var(--gray-dark);
      }

      text.abcjs-ending,
      .abcjs-bar {
        fill: var(--gray-dark);
      }

      .abcjs-note_selected {
        fill: var(--accent);
      }

      .abcjs-annotation {
        fill: var(--ink);
        font-size: 18px;
        font-weight: 600;
      }

      .abcjs-chord {
        fill: var(--accent);
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  .chord-container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

    float: left;

    margin-right: 2em;
    margin-bottom: 2em;
    margin-left: -1em;

    .kord {
      display: inline-block;

      .chord-diag {
        width: 90px;
      }
    }

    strong {
      font-weight: 600;
      margin-left: 0.8em;
    }
  }

  .chord-container strong,
  .line i .before {
    sup {
      vertical-align: 0.4em;
      font-size: 0.7em;
      letter-spacing: 0.02em;
      padding-left: 0.1em;
      font-weight: 700;
    }
  }

  .interactive,
  .addanchor,
  .playfromline {
    .select(none);
    cursor: pointer;

    .inlineReference {
      filter: grayscale(0.3);
      background-color: var(--bg-list);
      h3 {
        display: none;
      }
    }

    // interim UI for to know which datapoint to delete
    .line .rowidx {
      content: attr(data-line-cnt);
      opacity: 0.5;
      position: absolute;
      margin-left: -3.8em;
      text-align: right;
      width: 2em;
      line-height: 1.4em;

      &:hover {
        opacity: 1;
      }
    }
  }

  // .addanchor {
  //   .line:hover {
  //     border-top: 2px solid var(--accent);
  //     &::before {
  //       content: "+" attr(data-line-cnt);
  //     }
  //   }
  // }
  .playfromline {
    .line {
      i {
        transition: color 0.2s;
      }
      &:hover i {
        color: var(--accent);
        transition: color 0s;
      }
    }
  }

  .interactive,
  .addanchor,
  .playfromline {
    i {
      line-height: 1.4em;
      text-indent: 0 !important;
      padding-left: 0 !important;
      cursor: pointer;
    }
  }

  .interactive i {
    &:not(.hasChord):hover {
      border-top: 2px solid var(--accent);
      margin-top: -2px;
    }

    &.hasChord:hover span {
      color: var(--text);
    }
  }

  .line i u {
    // prosodic annotations
    color: var(--accent);
    font-family: "Cardo", "Times New Roman", Times, serif;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: bold;
    text-decoration: none;
  }

  @continuation_pad: 0.8em; // indent for wrapping rows

  .hasVideo .line {
    cursor: pointer;
    transition-property: opacity, color;
    transition-timing-function: ease-in;
    transition-duration: 0.8s;
    opacity: var(--ratio);

    i {
      transition: color 0.2s;
    }

    &:hover i {
      color: var(--accent);
      transition: color 0s;
    }
  }

  .line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    min-height: 1em;
    padding-left: @continuation_pad;
    white-space: pre-wrap;
  }

  .line i {
    font-style: normal;
    font-weight: 400;
    color: var(--text);

    flex-direction: column;
    display: flex;

    &:first-child {
      margin-left: -@continuation_pad;
    }

    .before {
      // aka. Chords.

      color: var(--accent);
      font-weight: 600;
      font-style: normal;

      .select(none);
      .noFocusBorder;

      margin-top: 0;
      margin-right: 0.5em;
      margin-bottom: -0.3em;

      // sup is formatted above.

      font-family: "Shantell Sans";
      transform: rotate(-3deg);
      transform-origin: left;

      &:focus {
        background-color: var(--bg-filter-opaque);
        min-width: 1.5em;

        &:empty:before {
          content: "\feff"; // Patches height rendering of empty contenteditables
        }
      }

      &.optional {
        color: var(--gray);

        &:before {
          content: "(";
        }

        &:after {
          content: ")";
        }

        &:after,
        &:before {
          font-weight: 200;
          vertical-align: 0.05em;
        }
      }
    } // before aka. chords
  } // i

  .interactive .line i .before {
    // Re-allow chord text selection when editing.
    .select(text);
  }

  li {
    line-height: 1.6em;
    list-style-type: none;

    &::before {
      content: "–";
      display: inline-block;
      position: relative;
      width: 0;
      left: -1.2em;
    }
  }

  .song-video {
    position: fixed;
    top: 0;
    right: 7em;

    .phone({
      right: unset;
      left: 0;
    });

    iframe {
      width: 16em;
      height: unset;
      aspect-ratio: 3/2;
    }
  }
  .song-video-preview {
    position: fixed;
    top: 0;
    right: 50%;
  }

  .song-video-preview.active {
    position: fixed;
    flex-direction: row-reverse;
    display: flex;

    .phone({
      right: unset;
      left: 0;
    });

    iframe {
      height: 8em;
      width: unset;
      aspect-ratio: 3/2;
    }
  }
  .time-insert-indicator {
    display: flex;
    align-items: end;
    span {
      color: var(--text-inverted);
      padding: 2px;
      width: 50px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: var(--accent-flat);
    }
  }
} // .chordsheet
