
@import (reference) "./responsive.import.less";
@import (reference) "./variables.import.less";
@import (reference) "./main.less";


#editor {
  display: flex;
  width: 100%;

  textarea {
    white-space: pre;
  }

  .content {
    padding-left: 2em;
  }

  #chordsheet {
    padding-left: 6em;
  }
}


aside.drawer#revs {

  ol {
    list-style-type: lower-greek;
    padding-left: 1.8em;

    li {
      font-size: 0.8em;
      padding: 0.3em;

      &:hover {
        background-color: white; //fade(@text, 30%);
      }

      &.active {
        background-color: white //fade(@text, 50%);
      }
    }
  }
}
// dot. wohin?
#dirty {
  display: block;
  position: absolute;
  font-size: 1.6em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: var(--accent);
  left: 4rem;
  top: 2.5rem;

  .phone({ display: none; });
}

.added{
  background-color: green;
  min-height: 20px;
}
.removed {
  // text-decoration: line-through;
  min-height: 20px;
  background-color: red;
}

.blameColumn {
  width :40px;
  white-space: nowrap;
  #textareafonts();

  .annotation {
    
    &:nth-child(even) {
      background-color: var(--accent);
    }
    &:nth-child(odd) {
      background-color: var(--bg-rev);
    }
  }
  .hover {
    position: absolute;
    left: 45px;
    height: 200px;
    overflow-y: scroll;
  }
  .hidden {
    display: none;
  }
}

.source-adv {
  display:flex;
  flex-flow: row nowrap;
  // >* {
  //   height: 100%;
  // }
}
