@import (reference) "./responsive.import.less";
@import (reference) "./variables.import.less";
@import (reference) "./main.less";

#editor {
  display: flex;
  width: 100%;

  > .content {
    padding-left: 2em;

    .content {
      padding: unset;
    }
  }

  aside {
  }

  #chordsheet {
    padding-left: 6em;
  }
}

aside.drawer#revs {
  ol {
    list-style-type: lower-greek;
    padding-left: 1.8em;

    li {
      font-size: 0.8em;
      padding: 0.3em;

      &:hover {
        background-color: white; //fade(@text, 30%);
      }

      &.active {
        background-color: white; //fade(@text, 50%);
      }
    }
  }
}

// dot. wohin?
#dirty {
  display: block;
  position: absolute;
  font-size: 1.6em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: var(--accent);
  left: 4rem;
  top: 2.5rem;

  .phone( {
      display: none;
    }

  );
}

.settings {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1.5rem;

  label {
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-right: 0.4rem;
  }

  input {
    margin-right: 0.4rem;
  }
}
