// Regular 400
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

// Bold 600
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BoldItalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

// Light 300
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

// Medium 500
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-MediumItalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

// Black 800
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Black-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BlackItalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

// Cooper Black
@font-face {
    font-family: 'Cooper';
    src: url('/fonts/CooperK-Black-w.woff2') format('woff2'),
         url('/fonts/CooperK-Black-w.woff') format('woff'),
         url('/fonts/CooperK-Black-w.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

// Cardo bold for undertie and apostrophe
@font-face {
    font-family: 'Cardo';
    src: url('/fonts/cardo-bold-webfont.woff2') format('woff2'),
         url('/fonts/cardo-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// IBM Plex for markdown
@font-face {
    font-family: 'Plex Mono';
    src: url('/fonts/ibmplexmono-regular.woff2') format('woff2'),
         url('/fonts/ibmplexmono-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
