
@import (reference) "./variables.import.less";

#layout-toggler svg {
    #text {
        fill: var(--gray-light);
    }

    #pfeil {
        fill: var(--accent);
    }

}

#theme-toggler svg {
    fill: var(--gray-light);
}

#scroll-toggler svg {
    fill: var(--gray-light);
}

#scroll-toggler.active svg {
    fill: var(--accent);
}

svg {
    #header {
        #titling {
            fill: var(--gray);
        }

        #swoosh {
            fill: var(--accent);
        }

        #swoosh-shadow {
            fill: black;
        }
    }
}

svg {
    #menu {
        fill: var(--gray-light);
    }
}