@import "./responsive.import.less";
@import "./variables.import.less";
// Resets
ul {
  padding-left: 0;
  list-style-type: none;
}

ol {
  padding-left: 1em;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
  border-style: none;
  color: inherit;
  background-color: inherit;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

textarea {
  display: block;
  width: 100%;
}

// Global Variables + Colors moved to variables.import.less

// sizes moved to responsive.import.less


// Base Layout

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .select(none);

  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: grey;
}

#app {
  display: contents;
}

#body {
  display: flex;
  width: 100%;
  height: 100%;
}

.content {
  box-sizing: border-box;
  min-height: 100vh;

  .scroll-vertical;

  width: 100%;
  padding: 1em 2em 1em 2em;

  h1:first-child,
  h2:first-child {
    margin-top: 0;

    & + h2 {
      margin-top: 0;
    }
  }
}


aside.drawer {
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  width: @drawer-open;

  .scroll-vertical;
  overflow-x: hidden;

  padding-top: 1em;
  padding-right: 0;
  padding-bottom: 2em;
  padding-left: 0.5em;

  &.closed {
    width: @drawer-closed;
    padding-left: @drawer-closed;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 100;
    box-sizing: border-box;

    // Mitigates the rendering bug of the contained .label
    position: relative;

    &:hover {
      width: @drawer-open;
      padding-left: 0.5em;
    }
  }

  .phone({
    width: 100%; 
    min-height: 100%; 

    &.closed {
      display: none;
    }
  });

  // Content-width blocker:
  & > div {
    width: @drawer-open - @drawer-closed; //ie. width - padding
  }

  // Drawer Contents:
  h1, h2, h3 {
    font-size: 2em;
    font-weight: 600;
  }

  & > h1 {
    margin-top: 0;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 0;
    color: mix(@accent, @warm, 80%);
  }

  h2.huge {
    margin-top: 0;
    font-size: 2em;
    margin-left: -0.05em;
  }
}


// dot. wohin?
#dirty {
  display: block;
  position: absolute;
  font-size: 1em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  background-color: @accent;
  left: 5.9rem;
  top: 3.7rem;
}

// Special content
#logo * {
  font-size: 15em;
  margin: 0;
  line-height: 0.8em;
}

.tags {

  &:last-of-type {
    margin-bottom: 3rem;
  }

  li {
    display: inline-block;
    font-size: 0.75em;
    line-height: 1.7em;
    font-weight: 600;
    text-transform: uppercase;
    background-color: @warm;
    color: white;
    border-radius: 0.4em;
    padding: 0 0.5em;
    margin-right: 0.5em;

    &::before {
      content: none !important;
    }

    b {
      display: inline-block;
      font-weight: inherit;
      padding: 0 0.5em;
      margin: 0 -0.5em;
      margin-left: 0.3em;
      background-color: @accent;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;
    }
  }
}

div.mobile-footer {
  display: none;

  .phone({display: block;});
}


// Content elements


#progress {
  .chordsheet-colors;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  thead {
    text-align: left;
  }

  tbody tr:nth-child(odd) {
    background-color: fade(@light, 30%);
  }

  td,
  th {
    padding: 0.1em 0.5em 0.1em 0.5em;

    max-width: 8em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}


aside.drawer#list {
  padding-left: 0; // undo left padding, since this box contains no immediate content

  .list-colors;

  &.hidden {
    display: none;
  }

  > div {
    padding-top: 1em;
    width: auto;

    > ul {
      padding-left: 0.5em;
    }
  }

  .filter {
    position: absolute;
    left: 0;
    top: 0;
    width: @drawer-open;

    .phone({position: static; width: 100%;});

    display: flex;

    color: white;
    background-color: @light;

    .reset {
      flex: 0 0 1.5em;
      font-size: 1.4em;
      margin-left: -1.5em;
      cursor: pointer;
      margin-top: 1rem;

      display: none;

      &.filled {
        display: block;
      }
    }

    input {
      margin-top: 1rem;
      padding-left: 0.5em;
      height: 2em;

      display: block;
      flex: 1 1 auto;

      .noFocusBorder;

      transition: color, background-color 0.5s;

      background-color: @warm;
      &::placeholder {
        color: transparent;
      }

      &[value=""] {
        background-color: @light;
        &::placeholder {
          color: hsv(hsvhue(@accent), 0.2, 0.4);
        }
      }

      &:focus {
        background-color: @warm;
        &::placeholder {
          color: fade(white, 50%);
        }
      }
    }
  }

  div.filterMenu {
    position: absolute;
    left: @drawer-open;
    right: 0;
    top: 0;
    z-index: 1;

    overflow: hidden;

    padding-top: 0.5em;
    padding-left: 2em;
    padding-bottom: 1.5em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    z-index: 1;

    .phone({position: static; width: 100%; padding-left: 0.5em;});

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: fade(@light, 60%);

    @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
      // non-webkit-browsers
      background-color: mix(@light, white);
    }

    div.taggroup {
      margin-right: 20px;
    }

    h1,
    h2 {
      display: none;
    }

    h4 {
      color: black;
      display: block;
      transform-origin: left;
      font-weight: 600;
      transform: rotate(-14deg);
    }

    ul {
      margin-left: 0.5em;
      flex: 0 0 7em;
      display: flex;
      flex-direction: column;
    }

    li {
      display: inline-table;
      color: white;
      margin-bottom: 0.5em;
      transform-origin: left;
      transform: rotate(-14deg);
      cursor: pointer;

      &:hover {
        background-color: black;
      }

      b {
        width: 1em;
      }
    }

    max-height: 800px; // enables max-height-transition

    &.hidden {
      opacity: 0;
      visibility: hidden;

      .phone(
        {opacity: inherit; visibility: visible; max-height: 0; padding-top: 0; padding-bottom:
          0;}
      );
    }

    opacity: 1;
    transition: all 0.5s;
  }

  // Make list items fill the entire width

  li {
    // Stick to one row per li
    white-space: nowrap;
    overflow: hidden;

    margin-left: -0.5em;
    padding-left: 0.5em;

    a {
      display: flex;

      .noFocusBorder;

      padding-top: 0.1em;
      padding-bottom: 0.2em;
      padding-left: 0.5em;
      padding-right: 1em;
      margin-left: -0.5em;
      margin-right: -0.5em;

      span {
        display: inline-block;
        box-sizing: border-box;
        min-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .author {
        display: none;
        flex: 1 0 0;
        color: hsv(hsvhue(@accent), 0.8, 0.8);
        background-color: @light;
        text-align: right;
        direction: rtl;
        overflow: hidden;
      }

      &:hover {
        .title {
          flex: 1 0 0;
        }

        .author {
          display: inline-block;
          flex: 0 0 auto;
          color: @accent;
        }
      }

      &.selected {
        color: white;
        background-color: @warm;

        .author {
          color: white;
          background-color: @warm;
        }
      }
    }
  }
} // .drawer#list

aside.drawer#revs {
  ol {
    list-style-type: lower-greek;

    li {
      font-size: 0.8em;
      padding: 0.3em;

      &:hover {
        background-color: hsva(0, 0, 0, 0.3);
      }

      &.active {
        background-color: hsva(0, 0, 0, 0.5);
      }
    }
  }
}

textarea {
  font-family: "Input Mono", Courier New, Courier, monospace;
  font-weight: 300;
  font-size: 0.9em;
  width: inherit;
  cursor: text;

  .noFocusBorder;
}


hr {
  border-style: solid;
  margin-bottom: 1em;
}

.label {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: inherit;

  display: block;
  padding: 0.2em;
  position: fixed;
  bottom: 1em;
}

// CSS-wise transparent container to satisfy react.
// TODO: remove all of them.
.container {
  display: contents;
}

