// Resets
ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

button, input, select, textarea {
  font: inherit;
  border-style: none;
  color: inherit;
  background-color: inherit;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

textarea {
  display: block;
  width: 100%;
}

// Globals
@accent: rgb(221, 68, 7);
//@accent: rgb(0, 141, 235);

// Layout
body {
  margin: 0;
  padding: 0;
}

#body {
  display: flex;
  width: 100%;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: grey;
}

.chordtable {
  // padding: 20px;
  text-align: center;
  td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

#route {
  display: flex;
  width: 100%;
}


// Content role mixins
.chordsheet {
  h1 {
    color: @accent;
  }

  color: black;  // for aside only, is overridden in #chordsheet
  background-color: white;
}

.source {
  background-color: hsv(hsvhue(@accent), 0.7, 0.8);
}

.revision {
  color: hsv(hsvhue(@accent), 0.4, 0.8);
  background-color: hsv(hsvhue(@accent), 0.7, 0.4);
}

.revisions {
  color: hsv(hsvhue(@accent), 0.3, 0.7);
  background-color: hsv(hsvhue(@accent), 0.5, 0.2);
}


// Special content
#logo * {
  font-size: 15em;
  margin: 0;
  line-height: 0.8em;
}

#chordsheet {
  .chordsheet;

  color: hsv(hsvhue(@accent), 0.4, 0.6);

  h2, h3 {
    color: black;
    //margin-top: 0;
  }

  h1, h2 {
    font-size: 2em;
    display: inline-block;
  }

  h1 {
    margin-bottom: 0;
    margin-right: 0.5em;
  }

  h3 {
    font-size: 1em;
    margin-bottom: -1em;
    margin-top: 2em;
  }

  p {
      line-height: 1.4em;
  }

  .s {
    color: black;
    display: inline-block;
    white-space: pre-wrap;
  }

  .chord {
    @cw: 3em;
    color: @accent;
    font-weight: bold;
    position: relative;
    display: inline-block;
    top: -1em;
    margin-top: 1em;
    width: @cw;
    margin-right: -@cw;

    sup {
      vertical-align: 0.4em;
      font-size: 0.7em;
      letter-spacing: 0.02em;
      padding-left: 0.1em;
    }

    & + .chord {
      left: 1*@cw;
      & + .chord {
          left: 2*@cw;
          & + .chord {
              left: 3*@cw;
              & + .chord {
                  left: 4*@cw;
              }
          }
      }
    }
  }

  li {
    line-height: 1.6em;
  }

  ul.tags {
    li {
      display: inline-block;
      font-size: 0.7em;
      line-height: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
      background-color: hsv(hsvhue(@accent), 0.2, 0.5);
      color: white;
      border-radius: 3px;
      padding: 0.2em 0.4em;
    }
  }
} // .chordsheet

aside {
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 300px;

  padding-top: 1em;

  h1, h2, h3 {
    font-size: 2em;
  }

  & > h1 {
    margin-top: 0;
  }

  p { 
    opacity: 0.7;
  }


  &.collapsed {
    @width: 30px;
    overflow: hidden;
    width: @width;
    cursor: pointer;
    transition: width 0.3s;
    z-index: 100;
    box-sizing: border-box;
    padding-left: @width;

    // Mitigates the rendering bug of the contained .label
    position: relative;
    
    &:hover {
      width: 300px;
    }

    // Avoid linebreaks during slide-in/--out
    * {
      width: 245px;
    }
  }

  &#list {
    background-color: hsv(hsvhue(@accent), 0.2, 0.5);
  }

  &#revs {

    ol {
      list-style-type: lower-greek;

      li {
        font-size: 0.8em;
        padding: 0.3em;

        &:hover {
          background-color: hsva(0,0,0,0.3)
        }

        &.active {
          background-color: hsva(0,0,0,0.5)
        }

      }
    }

  }

  color: white;

  h2 {
    padding-left: 0.9em;
    font-size: 1em;
    text-transform: uppercase;
  }

  a {
    color: inherit;
    font-weight: inherit;
  }

  li > a, li button {
    color: black;
    display: block;
    padding: 0.3em;
    padding-left: 1em;

    &.selected {
      background-color: hsv(hsvhue(@accent), 0.8, 0.8);
    }
  }

  ul {
    margin: 0;
  }
}

.content {
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100vh;

  width: 100%;
  padding: 1em 2em 1em;

  :first-child {
    margin-top: 0;

    &+h2{
      margin-top: 0;
    }
  }
}

textarea {
  font-family: 'Input Mono', Courier New, Courier, monospace;
  font-weight: 300;
  font-size: 0.9em;
  width: inherit;
  overflow-y: hidden;
  white-space: pre;

  &:focus {
    outline: none;
  }

  &::selection {
    color: hsva(hsvhue(@accent), 0.4, 0.8, 1.0);
    background-color: hsva(hsvhue(@accent), 0.3, 0.3, 1.0);
  }
}

hr {
  border-style: solid;
  margin-bottom: 1em;
}

.label {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: inherit;

  display: block;
  padding: 0.2em;
  position: fixed;
  bottom: 1em;
}

// CSS-wise transparent container to satisfy react.
.container {
  display: inherit;
  width: inherit;
  min-height: inherit;
  padding: 0;
  margin: 0;
}

// Editor.jsx
// TODO: attach at jsx level?
#editor {
  display: flex;
  width: 100%;
}

#transposer {
  height: 400px;
  float: right;

  .rc-slider {
    width: 50px;
  }

  .rc-slider-mark {
    top: -18px;
  }

  .rc-slider-track {
    background-color: @accent;
  }

  .rc-slider-handle,
  .rc-slider-dot-active {
    border-color: @accent;
  }
}

@media print {
  aside, #transposer, .tags { display: none; }

  #body {
    font-size: 12pt;
    width: 210mm;
  }

  #chordsheet {
    columns: 2;
  }

  #head, h1, h2 {
    column-span: all;
  }
}