// Resets
ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

button, input, select, textarea {
  font: inherit;
  border-style: none;
  color: inherit;
  background-color: inherit;
  text-align: inherit;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

textarea {
  display: block;
  width: 100%;
}

// Globals
@accent: rgb(221, 68, 7);
//@accent: rgb(0, 148, 253);

// Layout
body {
  margin: 0;
  padding: 0;
}

#body {
  display: flex;
  width: 100%;

  font-family: sans-serif;
  font-size: 18px;
  background-color: grey;
}

.chordtable {
  // padding: 20px;
  text-align: center;
  td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }
}


#route {
  display: flex;
  width: 100%;
}

.chordsheet {
  color: hsv(hsvhue(@accent), 0.2, 0.5);

  h1, h2, h3 {
    color: black;
  }

  h1 { color: @accent }

  h1, h2 {
    font-size: 2em;
    display: inline-block;
  }

  h3 {
    font-size: 1em;
    margin-bottom: -1em;
    margin-top: 2em;
  }

  p {
      line-height: 1.4em;
  }

  .s {
    color: black;
  }

  .chord {
    @cw: 2em;
    color: @accent;
    font-weight: bold;
    position: relative;
    display: inline-block;
    top: -1em;
    margin-top: 1em;
    width: @cw;
    margin-right: -@cw;

    & + .chord {
        left: 1*@cw;
        & + .chord {
            left: 2*@cw;
            & + .chord {
                left: 3*@cw;
                & + .chord {
                    left: 4*@cw;
                }
            }
        }
    }
  }
}

aside {
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  width: 300px;

  &.collapsed {
    width: 30px;
    cursor: pointer;
  }

  &#list {
    background-color: hsv(hsvhue(@accent), 0.2, 0.5);
  }

  &#edit {
    background-color: hsv(hsvhue(@accent), 0.8, 0.8);
  }

  color: white;

  h2 {
    padding-left: 0.9em;
    font-size: 1em;
    text-transform: uppercase;
  }

  li {
    display: block;
  }

  a {
    color: inherit;
    font-weight: inherit;
  }

  li > a, li button {
    color: black;
    display: block;
    padding: 0.3em;
    padding-left: 1em;

    &.selected {
      background-color: hsv(hsvhue(@accent), 0.8, 0.8);
    }
  }

  ul {
    margin: 0;
  }
}

.content {
  box-sizing: border-box;
  overflow: hidden;
  min-height: 100vh;

  width: 100%;
  padding: 1em 2em 1em;

  background-color: white;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

// CSS-wise transparent container to satisfy react.
.container {
  display: inherit;
  width: inherit;
  min-height: inherit;
  padding: 0;
  margin: 0;
}

// Editor.jsx
// TODO: attach at jsx level?
#editor {
  display: flex;
  width: 100%;

  section {
    width: 50%;
  }

  textarea {
    background-color: hsv(hsvhue(@accent), 0.7, 0.8);
    font-family: 'Input Mono', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    width: 50%;
    overflow-y: hidden;
    &:focus {
      outline: none;
    }
  }
}

#transposer {
  position: fixed;
  height: 400px;
  right: 70px;

  .rc-slider-track {
    background-color: @accent;
  }

  .rc-slider-handle,
  .rc-slider-dot-active {
    border-color: @accent;
  }
}

ul.tags {
  li {
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    background-color: hsv(hsvhue(@accent), 0.8, 0.9);
    color: white;
    border-radius: 3px;
    padding: 0.2em 0.4em;
  }
}