@import (reference) "./responsive.import.less";
@import (reference) "./variables.import.less";

.printify {
  .tags {
    display: none !important;
  }

  #chordsheet.content {
    font-size: 12pt;
    padding: 0;
    padding-left: 25pt;

    min-height: unset;
  }

  #chordsheetContent {
    columns: 2;
    column-gap: 3em;

    section > div {
      break-inside: avoid;
    }

    margin-bottom: 0 !important;

    .sd-header {
      column-span: all;
      margin-top: 0.3em; // Für die Umlautzeichen
      margin-left: -3pt;

      h1,
      h2 {
        font-size: 2.5em !important;
      }

      h2 {
        margin-bottom: 1em !important;
        color: var(--ink) !important;
      }
    }

    p {
      margin-top: 0;
    }

    p:has(.chord-container, .abc-notation) {
      column-span: all;
    }

    .inlineRefs .ref[id],
    h3 {
      text-align: unset;
      height: unset;
      width: unset;
      margin-left: 0;
      margin-bottom: 0;
    }

    .ref.open,
    h3 {
      width: 3em;
      margin-left: -4em;
      overflow: hidden;
      margin-bottom: 0;
      margin-bottom: -1.3em;
      text-align: right;
      font-variation-settings: "wdth" 70;
    }

    .chord-container .kord .chord-diag {
      width: 50pt;
    }
  }

  #chordsheet.content.singleCol {
    padding-left: 70pt;

    .sd-header {
      margin-left: -50pt;
    }

    .ref.open,
    h3 {
      width: 4em;
      margin-left: -5em;
      margin-bottom: -1.3em;
      text-align: left;
    }
  }

  .chord-container {
    color: var(--text);
  }
}

@page {
  size: A4;
  margin: 2cm;
}

@media print {
  .printify;

  aside,
  #transposer {
    display: none !important;
  }
}

.pagedjs_page {
  background-color: white;
  margin-bottom: 1em;
}

#sheetSource {
  display: none;
}

@media screen {
  #rightSettings {
    &.printer--settings {
    }
  }
  .desk {
    margin-left: @drawer-closed;
    padding-right: 400px; // TODO

    background-color: #beb4b0;
    padding: 2em;
    width: 100%;
  }
}
