@import (reference) "./responsive.import.less";
@import (reference) "./variables.import.less";

aside.drawer#list.open + .content,
aside.drawer#list.open + div.mobilemenu + .content {
  margin-left: @drawer-open;
}

aside.drawer#list {
  display: flex;
  flex-direction: column;
  padding: 0;

  overflow-y: hidden;
  .list-colors;

  font-weight: 450;
  font-variation-settings: "wdth" 91;

  &.hidden {
    display: none;
  }

  .phone({
    position: fixed;
    z-index: 6;

    top: 4rem;
    padding-top: 0;

    height: calc(~"100vh - 4rem");
    min-height: unset;

    font-size: 1.2em;
    transition: all 0.5s ease-in-out;

    &.hidden {
      padding: 0;
      height: 0;
    }
  });

  > div {
    display: contents;

    .phone({
      padding-top: 0;
    });

  }

  ul.scroll {
    padding: 0.5em;
    margin: 0;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: scroll;

    .prettyScrollbars(var(--bg-list));

    .phone({
      margin-top: 0;
    });
  }

  &.hidden .filter {
    display: none;
  }

  .filter {
    font-family: "Shantell Sans";
    flex-shrink: 0;

    .phone({
      position: fixed; 
      width: ~"calc(100vw - 5.4rem)"; // 4rem MenuIcon + 0.7 + 0.7 Rem Margin Left/Right
      height: 4rem;
      z-index: 10;
      align-items: center;
      justify-content: center;
      background: none;
    });

    display: flex;
    color: var(--accent);
    background-color: var(--bg-list);

    .reset {
      flex: 0 0 1.2em;
      font-size: 1.4em;
      margin-left: -1.2em;
      cursor: pointer;
      margin-top: 0;
      line-height: 2em;

      display: none;
      font-family: "Bricolage Grotesque";

      &.filled {
        display: block;
      }
      &:hover {
        color: var(--text);
      }
    }

    .open-tags {
      font-family: "Bricolage Grotesque";
      cursor: pointer;
      margin-left: 0.7rem;
      .not-phone({
        display: none;
      })
    }

    // Suchfeld
    input {
      margin-top: 0;
      padding-left: 0.5em;
      height: 3em;
      width: 100%;
      font-weight: 600;

      display: block;
      flex: 1 1 auto;

      .phone({
        height: 4rem;
        margin: 0;
      });

      .noFocusBorder;
      transition: color 0.5s, background-color 0.5s;

      background-color: var(--bg-list);
      &::placeholder {
        color: transparent;
        font-family: "Bricolage Grotesque";
      }

      &[value=""] {
        background-color: var(--bg-list);
        &::placeholder {
          color: var(--text-sidebar);
        }
      }
    }
  }

  div.filterMenu {
    position: fixed;
    left: @drawer-open;
    right: 0;
    top: 0;

    overflow: hidden;

    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: @drawer-closed;
    padding-bottom: 1.5em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    z-index: 1;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--bg-filter-translucent);

    & > h4 {
      display: none !important;
    }

    .sd-header {
      display: none;
    }

    h4 {
      color: var(--text);
      display: block;
      transform-origin: left;
      font-weight: 600;
      transform: rotate(-14deg);
      margin-left: -0.5em;
    }

    ul {
      margin-left: 0.5em;
      margin-right: 0.5em;
      flex: 0 0 0;
    }

    li {
      display: inline-table;
      color: var(--text-inverted);
      margin-bottom: 0.5em;
      transform-origin: left;
      transform: rotate(-14deg);
      cursor: pointer;

      &:hover {
        background-color: var(--text);
      }

      b {
        width: 1em;
      }
    }

    max-height: 800px; // enables max-height-transition

    // hidden -> implicit through focus
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    .phone({
      position: fixed; 
      top: 4rem;
      left:0;
      height: calc(~"100vh - 4rem"); // -menuheight - padding
      padding-left: 0.5em;
      overflow-y: scroll;
      visibility: visible;
      max-height: 0;
      padding-top: 0;
      padding-bottom: 0;
      &.open {
        max-height: unset;
        visibility: visible;
        opacity: initial;

      }
    });

    opacity: 1;
    transition: all 0.5s;

  } //filtermenu

  li {
    // Stick to one row per li
    white-space: nowrap;
    overflow: hidden;

    margin-left: -0.5em;
    padding-left: 0.5em;

    h2.huge {
      .cooperate();
      font-size: 3em;
      margin-left: -0.05em;
      margin-top: 0.5rem;
      margin-bottom: -0.5rem;

      &.wordy {
        font-size:2em;
      }
    }

    a {
      display: flex;
      justify-content: space-between;

      .noFocusBorder;

      padding-top: 0.1em;
      padding-bottom: 0.1em;
      padding-left: 0.5em;
      padding-right: 1em;
      margin-left: -0.5em;
      margin-right: -0.5em;

      span {
        display: inline-block;
        box-sizing: border-box;
        min-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .author {
        display: none;
        flex: 1 1 auto;
        color: var(--accent);
        background-color: var(--bg-list);
        text-align: right;
        direction: rtl;
        overflow: hidden;

        .phone({
          display: inherit;
        })
      }

      .darling {
        margin: 0;
        padding: 0;

        display: none;
        width: 1.2em;
        margin-right: 0.1em;
        text-align: right;

        svg {
          width: 0.7em;
          height: auto;
          stroke-width: 3px;
          fill: transparent;
        }

      }

      &.selected .darling {
        display: inline-block;

        svg {
          stroke: var(--text-inverted);
        }

        &:hover svg {
          fill: var(--accent);
        }
      }

      .darling.is_darling {
        display: inline-block;

        svg {
          fill: var(--accent);
          stroke: transparent;
        }

        &:hover svg {
          fill: var(--accent);
        }
      }

      &:hover {
        .showAuthor();
      }

      .phone({
        .showAuthor();

        .author {
          max-width: 66%;
          direction: ltr;
        }
      });

      .showAuthor{
        .title {
          flex: 1 0 0;
        }

        .author {
          display: inline-block;
          flex: 0 0 auto;
          color: var(--accent);
        }
      }

      &.selected {
        color: var(--text-inverted);
        background-color: var(--gray);

        .author {
          display: none;
        }
      }

    }
  }

  .username {
    box-sizing: border-box;
    padding: 0.5em;
    flex-shrink: 0;

    background-color: var(--bg-list);
    display: flex;

    cursor: pointer;
    color: var(--gray);

    &:hover {
      color: var(--accent);
    }

    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.9em;
    text-align: right;

    .phone({
      display: none;
    })
  }

} // .drawer#list
