@import (reference) "./responsive.import.less";
@import (reference) "./variables.import.less";

aside.drawer#list.open + .content {
  margin-left: @drawer-open;

  .phone({
    margin-left: 0;
  })
}

aside.drawer#list {
  display: flex;
  flex-direction: column;
  padding: 0;

  overflow-y: hidden;
  .list-colors;

  font-weight: 450;
  font-variation-settings: "wdth" 91;

  &.hidden {
    display: none;
  }

  .phone({
    font-size: 1.2em;
  });

  > div {
    display: contents;
  }

  ul.scroll {
    padding: 0.5em 0 0.5em 0.5em;
    margin: 0;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: scroll;

    .prettyScrollbars(var(--bg-list));
  }

  div.filterMenu {
    position: fixed;
    left: @drawer-open;
    right: 0;
    top: 0;

    overflow: hidden;

    padding: 0.5em @drawer-closed 1.5em 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    z-index: 1;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--bg-filter-translucent);

    & > h4 {
      display: none !important;
    }

    .sd-header {
      display: none;
    }

    h4 {
      color: var(--text);
      display: block;
      transform-origin: left;
      font-weight: 600;
      transform: rotate(-14deg);
      margin-left: -0.5em;
      margin-bottom: 0.5em;
    }

    ul {
      margin-left: 0.5em;
      margin-right: 0.5em;
      flex: 0 0 0;
    }

    li {
      display: inline-table;
      color: var(--text-inverted);
      margin-bottom: 0.5em;
      transform-origin: left;
      transform: rotate(-14deg);
      cursor: pointer;

      &:hover {
        background-color: var(--text);
      }

      b {
        width: 1em;
      }
    }

    max-height: 800px; // enables max-height-transition

    // hidden -> implicit through focus
    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    .phone({
      top: 3rem;
      left:0;
      height: calc(~"100vh - 3rem"); // -menuheight - padding
      padding-left: 0.5em;
      overflow-y: scroll;
      visibility: visible;
      padding-top: 0;
      padding-bottom: 0;
    });

    opacity: 1;
    transition: all 0.5s;

  } //filtermenu

  ul.scroll li {
    // Stick to one row per li
    white-space: nowrap;
    overflow: hidden;

    margin-left: -0.5em;
    padding-left: 0.5em;

    h2.huge {
      .cooperate();
      font-size: 3em;
      margin-left: -0.05em;
      margin-top: 0.5rem;
      margin-bottom: -0.5rem;

      &.wordy {
        font-size:2em;
      }
    }

    a {
      display: flex;
      justify-content: space-between;

      .noFocusBorder;

      padding: 0.1em 1em 0.1em 0.5em;
      margin-left: -0.5em;
      margin-right: -0.5em;

      span {
        display: inline-block;
        box-sizing: border-box;
        min-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .author {
        display: none;
        flex: 1 1 auto;
        color: var(--accent);
        background-color: var(--bg-list);
        text-align: right;
        direction: rtl;
        overflow: hidden;

        .phone({
          display: inherit;
        })
      }

      .darling {
        margin: 0;
        padding: 0;

        display: none;
        width: 1.2em;
        margin-right: 0.1em;
        text-align: right;

        svg {
          width: 0.8em;
          height: auto;
          stroke-width: 2px;
          fill: transparent;
        }
      }

      &.selected .darling {
        display: inline-block;

        svg {
          stroke: var(--text-inverted);
        }

        &:hover svg {
          fill: var(--accent);
        }
      }

      .darling.is_darling {
        display: inline-block;

        svg {
          fill: var(--accent);
          stroke: transparent;
        }

        &:hover svg {
          fill: var(--accent);
        }
      }

      &:hover {
        .showAuthor();
      }

      .phone({
        .showAuthor();

        .author {
          max-width: 66%;
          direction: ltr;
        }
      });

      .showAuthor{
        .title {
          flex: 1 0 0;
        }

        .author {
          display: inline-block;
          flex: 0 0 auto;
          color: var(--accent);
        }
      }

      &.selected {
        color: var(--text-inverted);
        background-color: var(--gray);

        .author {
          display: none;
        }
      }

    }
  }
}
