@import (reference) "./responsive.import.less";
@import (reference) "./variables.import.less";
@import (reference) "./icons.less";

a.iconbutton {
  display: block;
  padding-right: 0.5em;
  padding-left: 0.5em;
  cursor: pointer;

  &:hover {
    border-bottom: none !important;
  }

  svg {
    width: 4em;
    .applySchemeColors;
  }

  &.phoneOnly {
    .not-phone({
      display: none;
    });
  }
}

#rightSettings {
  height: 100%;
  position: fixed;
  right: @drawer-closed;
  .phone({
    right: 0;
  });
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  #scroll-toggler {
    padding-right: 0.5em;
    cursor: pointer;
    svg {
      width: 4em;
    }
  }

  &:last-child {
    // If no "edit"-Aside is shown…
    right: 0; // …pull it flush to the right edge.
  }
}
